[Desktop Entry]
Version=1.0
Name=KFX Core
Comment=KFX P2P Cryptocurrency
Comment[fr]=KFX, monnaie virtuelle cryptographique pair à pair
Comment[tr]=KFX, eşten eşe kriptografik sanal para birimi
Exec=knoxfs-qt %u
Terminal=false
Type=Application
Icon=knoxfs128
MimeType=x-scheme-handler/knoxfs;
Categories=Office;Finance;
StartupWMClass=KnoxFS-qt
